@page
@model SalonWithRazor.EditModelForEmployee

@{
    ViewData["Title"] = "Būsena";
}

<h1>@ViewData["Title"]</h1>

<h4>Rezervacija</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Reservation.Id" />
            <input type="hidden" asp-for="Reservation.ClientId" class="form-control">

            <input type="hidden" asp-for="Reservation.EmployeeId" class="form-control">

            <input type="hidden" asp-for="Reservation.Start" class="form-control" />

            <input type="hidden" asp-for="Reservation.End" class="form-control" />

            <input type="hidden" asp-for="Reservation.CreatedDate" class="form-control" />

            <input type="hidden" asp-for="Reservation.ModifiedDate" class="form-control" />

            <input type="hidden" asp-for="Reservation.ModifiedBy" class="form-control" />

            @if (Model.Reservation.Status.Id == 3 || Model.Reservation.Status.Id == 4 || Model.Reservation.Status.Id == 5)
            {
                <div class="alert alert-danger">
                    <p>Rezervacija yra atšaukta arba įvykdyta, tad negalima keisti būsenos.</p>
                </div>
            }
            else if (Model.Reservation.Status.Id == 1 && Model.Reservation.Start > DateTime.Now.AddMinutes(-30)) //accept/decline reservation
            {
                <input type="hidden" id="statusId" asp-for="Reservation.Status.Id" value="@Model.Reservation.Status.Id">
                <div class="form-group">
                    <input type="submit" value="Patvirtinti" class="btn btn-success" onclick="changeValue(2)" />
                    <input type="submit" value="Atšaukti" class="btn btn-danger" onclick="changeValue(4)" />
                    <a asp-page="./Index" class="btn btn-secondary">Grįžti</a>
                </div>
            }
            else if ((Model.Reservation.Status.Id == 1 || Model.Reservation.Status.Id == 2)
                && Model.Reservation.Start > DateTime.Now.AddMinutes(-30)) //if reservation is accepted it can still be canceled
            {
                <input type="hidden" id="statusId" asp-for="Reservation.Status.Id" value="@Model.Reservation.Status.Id">
                <div class="form-group">

                    <div class="alert alert-info">
                        <p>Rezervaciją bus galima patvirtinti (Įvykdyta/Neatvyko) likus 30 min iki pradžios arba po rezervacijos pabaigos.</p>
                    </div>

                    <input type="submit" value="Atšaukti" class="btn btn-danger" onclick="changeValue(4)" />
                    <a asp-page="./Index" class="btn btn-secondary">Grįžti</a>
                </div>
            }
            else if ((Model.Reservation.Status.Id == 1 || Model.Reservation.Status.Id == 2)
                && Model.Reservation.Start < DateTime.Now.AddMinutes(-30)) //final status arrived/not arrived reservation
            {
                <input type="hidden" id="statusId" asp-for="Reservation.Status.Id" value="@Model.Reservation.Status.Id">
                <div class="form-group">
                    <input type="submit" value="Įvykdyta" class="btn btn-success" onclick="changeValue(3)" />
                    <input type="submit" value="Neatvyko" class="btn btn-danger" onclick="changeValue(5)" />
                    <a asp-page="./Index" class="btn btn-secondary">Grįžti</a>
                </div>
            }

        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Grįžti</a> |
    <a asp-page="./Details" asp-route-id="@Model.Reservation.Id">Detaliau</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function changeValue(value) {
            $('#statusId').val(value);
        }
    </script>
}
